<div>
    <h3>Game ID: {{ game.id }}</h3>
    {% if game.player1 != app.user %}
        <form action="{{ path('app_game_join', { id: game.id }) }}" method="POST">
            <input type="submit" value="Join Game">
        </form>
    {% endif %}
    <hr>
</div>