{% extends 'base.html.twig' %}

{% block title %}Battleship game{% endblock %}

{% block body %}

    <form action="{{ path('app_game_create') }}" method="post">
        <input type="submit" value="Create a new game">
    </form>

    {{ include('game/_list_games.html.twig', { games: games }) }}

{% endblock %}
