{% extends 'base.html.twig' %}

{% block title %}Ship placement{% endblock %}


{% block body %}
    <div class="row my-3">
        <p>Place your ships to the board and press the 'Confirm board' button.</p>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="d-grid gap-0" style="grid-template-columns: repeat(10, 40px); width: 400px;">
                {% for row in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'] %}
                    {% for col in 0..9 %}
                        <div
                                class="border text-center"
                                style="height: 40px; line-height: 40px;"
                        >
                            {{ row~col }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

            <div class="mt-4">
                <a class="btn btn-outline-primary" href="#">Reset board</a>
                <a class="btn btn-outline-primary" href="#">Auto placement</a>
                <a class="btn btn-outline-primary" href="#">Confirm board</a>
            </div>

        </div>

    </div>


{% endblock %}

