@import "~bootstrap";

/*.hit { background-color: #ff6b6b; }  !* Red for hits *!*/
/*.miss { background-color: #adb5bd; } !* Gray for misses *!*/
/*.ship { background-color: #495057; } !* Dark gray for ships (debug)*/

